<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">titulo</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1 class="color-blue" th:text="${request_param}"></h1>
    <br>
    <h1 class="color-blue" th:text="${encabezado}">Detalle del usuario</h1>
    <h2 class="color-pruple">Nombre: <small th:text="${usuario.nombre}">nombre</small></h2>
    <h2 class="color-pruple">Apellidos: <small th:text="${usuario.apellido}">apellido</small></h2>
</body>
</html>