<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1 class="color-blue" th:text="${titulo}"></h1>
    <h2 class="color-pruple" th:if="${usuarios.isEmpty()}">No hay usuarios registrados!</h2>
    <h2 class="color-pruple" th:unless="${usuarios.isEmpty()}">Si hay usuarios registados!</h2>
    <table th:unless="${usuarios.isEmpty()}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
                <th th:text="${usuario.nombre}"></th>
                <th th:text="${usuario.apellido}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>