<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Index</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
  <h1 class="color-blue" th:text="${titulo}">Index HDTPM!</h1>
  <h2 class="color-pruple">Probando estyles!</h2>
  <img th:src="@{/images/ALTE.png}" alt="imagen de AdminLTE">
  <!--
  <table th:if="${not usuarios.isEmpty()}">
      <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellido</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="usuario: ${usuarios}">
          <th th:text="${usuario.nombre}"></th>
          <th th:text="${usuario.apellido}"></th>
      </tr>
      </tbody>
  </table>
  -->
</body>
</html>